.form-group{
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.title,
.video_url,
.form-group select,
.form-group textarea {
    width: 50%;
    padding: 8px;
    font-size: 1em;
}


.register-btn{
    text-align: center;
}


.current-thumbnail{
    margin-bottom: 20px;
}