.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 98, 0);
    padding: 20px 40px; 
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}


.nav-left {
    display: flex;
    gap: 16px;
    max-width: 500px;      
    flex: 1 1 auto;
    justify-content: flex-start; 
}


.nav-right {
    flex: 1 1 auto;
    display: flex;
    justify-content: center; 
    align-items: center;     
    max-width: 150px;
}


.nav-left a {
    display: inline-block;
    padding: 8px 16px;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav-left a:hover {
    opacity: 0.9;
}


.nav-right span {
    color: black;
    font-weight: bold;
}


.elementary, .middle, .high {
    background-color: #ccc;
    color: white;
}


.elementary {
    background-color: #add8e6 !important;
}
.middle {
    background-color: #50c878 !important;
}
.high {
    background-color: #9acd32 !important;
}


.completed-label {
    color: red;
    font-weight: bold;
    margin-right: 6px;
}


.grades-grid {
    display: flex;
    justify-content: center; 
    gap: 20px;
    margin: 0 auto 30px;
    max-width: 800px;        
    width: 100%; 
    box-sizing: border-box;  
    padding: 0 10px;        
}


.grade-col {
    flex: 0 0 220px;        
    max-width: 220px;       
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin: 0 8px;
    box-sizing: border-box;
}


.grade-col h3 {
    text-align: center;
}


.grade-col ul {
    list-style: none;
    padding-left: 0;
    text-align: center; 
}


.grade-col ul li {
    margin-bottom: 5px;
}


.grade-label {
    display: inline-block;
    min-width: 100px;
    text-align: center;
}


.grade-label.elementary {
    background-color: #add8e6; 
}

.grade-label.middle {
    background-color: #50c878; 
}

.grade-label.high {
    background-color: #9acd32; 
}


.progress-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;  
    margin-right: 20px; 
}